<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring学习:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring学习/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring学习" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="commons-logging" />
          <element id="library" level="project" name="c3p0-0.9.1.2" />
          <element id="library" level="project" name="spring-aop-4.0.5.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>